{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
                <img src="/static/images/generals-quarters.png" alt="General's Quarters" class="img-fluid img-thumbnail">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>You are home away from home. Set on the majestic waters of the Atlantic Ocean. This will be a vacation you will never forget.
                    The Fort Smythe Bed and Breakfast is a historic landmark in the heart of the city. It is a beautiful house with a rich history.
                    The house was built in 1920 by the Smythe family. The Smythe family was one of the most prominent families in the city. They were
                    known for their hospitality and generosity. The house was built to be a place where people could come and stay while they were visiting
                    the city.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="/make-reservation-gq" class="btn btn-success btn-lg">Check Availibility</a>
            </div>
        </div>

    </div>
{{end}}