{{template "base" .}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <div class="col">
                <h1 class="mt-4">Make Reservation</h1>

                {{$res := index .Data "reservation"}}

                <form action="/make-reservation" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row mt-5">

                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            {{with .Form.Errors.Get "first_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input 
                                type="text" 
                                class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                                id="firstName" placeholder="First Name" 
                                autocomplete="off" 
                                value="{{$res.FirstName}}"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            {{with .Form.Errors.Get "last_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input 
                                type="text" 
                                class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
                                id="lastName"
                                placeholder="Last Name" 
                                autocomplete="off"
                                value="{{$res.LastName}}"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="emailAddress">Email Address</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input 
                                type="email" 
                                class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                                id="emailAddress" 
                                placeholder="Email Address" 
                                autocomplete="off" 
                                value="{{$res.Email}}"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            {{with .Form.Errors.Get "phone"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input 
                                type="tel" 
                                class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" 
                                id="phoneNumber" 
                                placeholder="Phone Number" 
                                autocomplete="off"
                                value="{{$res.Phone}}" 
                                required>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Make Reservation</button>
                
                </form>

            </div>
        </div>

    </div>
{{end}}